 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
} 


table{
  width: 80%;
  margin-left: 10%;
  margin-top: 50px;
  background-color: transparent;
  padding: 50px;
  border: none;
  /* color: black; */
  border-radius: 25% 1.0% 25% 1.0% /
                  10% 25% 10% 25%;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
th{
  border: none;
  border-bottom: 1px solid;
  border-top: 1px solid;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
td{
  border-left: 1px solid rgba(50, 50, 93, 0.25);
  border-right: 1px solid rgba(50, 50, 93, 0.25);
  margin: 10px;
  background-color: rgba(50, 50, 93, 0.25);
  border-radius: 10px;
  box-shadow: #ffffff 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
input{
  height: 40px;
  width: 330px;
  background-color: transparent;
  margin-top: 20px;
}
button{
  height: 40px;
  width: 330px;
  background-color: transparent;
  margin-top: 20px;
}


