body {
  text-align: center;
  /* padding-top: 150px; */
  background-image: url(https://img.freepik.com/free-vector/foliage-background-template_53876-91283.jpg?t=st=1727438895~exp=1727442495~hmac=26ad47f80fd450888be3195ed0ecb4cbbcb208fc19122f57afc94daa863da5fb&w=1060);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.box {
  margin-top: 100px;
  width: 35%;
  margin-left: 31%;
  padding: 20px;
  height: 70vh;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10% 50% 10% 50% / 50% 10% 50% 10%;
}

::-webkit-scrollbar {
  display: none;
}

.main{
  height: 60%;
  width: 100%;
}
.data{
  overflow-y: scroll;
  height: 90%;
}

.box1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  border-radius: 3px;
  /* border: 1px solid; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

button i {
  padding: 10px 10px;
  font-size: 20px;
}

.box1 button {
  background-color: transparent;
  border: none;
}

.btn1 {
  border: none;
  margin-left: -50px;
  font-size: 30px;
  background-color: transparent;
}

input {
  height: 50px;
  width: 400px;
  border: none;
  background-color: transparent;
  padding-left: 10px;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#check {
  color: green;
}

#edit {
  color: blue;
}

.fa-trash {
  color: brown;
}

.text {
  font-size: 18px;
  color: black;
  text-transform: uppercase;
}

.p1 {
  color: green;
}

.p2 {
  color: red;
}

.row {
  margin-top: 15px;
}
.t2{
  text-align: center;
}

.t1 {
  text-align: left;
  overflow-wrap: anywhere;
}

.btnbox {
  text-align: end;
}


