@tailwind base;
@tailwind components;
@tailwind utilities;


.head{
    background-color: #181818; 
    text-align: center;   
}
.box{
    width: 100%;
}
.icon{
    background-color: #4da543;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
}


.div1{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.inp1{
    border-bottom: 1px solid rgb(138, 138, 138);
}


.home:hover{
    content: "Home";
}